.one {
  width: 200px;
  height: 200px;
}
.main-nav {
  background-color: rgb(164, 92, 231);
}
.ffff {
  width: 1320px;
  margin: 0 auto;
}
.border-bottom {
  border-bottom: 5px solid rgb(0, 0, 0) !important;
}
.main {
  width: 200px;
  height: 500px;
  background-color: brown;
}
.gol {
  height: 300px;
  width: 300px;
}
.navbar .contact-btn {
  background: #6a4df4;
  padding: 15px 42px;
  
}
.navbar .navbar-nav .nav-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}
.navbar .navbar-nav .nav-item {
  margin-right: 66px;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}
.banner {
  background: url(../images/agenc-Banner\ 1.jpg) no-repeat center;
  background-size: 100%;
  height: 800px;
}
.banner .baner-title {
  width: 950px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}
